<style>
  img, a, input {
    outline: 0;
  }

  :host {
    display: flex;
    flex-direction: row;
    min-height: 70px;
    min-width: 70px;
  }

  /* Avatar grid */
  a.avatar {
    display: inline-block;
    height: 70px;
    margin: var(--small-margin);
    position: relative;
    width: 70px;
  }

  /* Online indicator */
  .onlineIcon {
    display: block !important;
    height: 10px;
    position: absolute;
    right: 0;
    top: 8px;
    width: 12px;
    opacity: 0;
    transition: opacity 0.15s ease-in-out;
  }

  .active .onlineIcon {
    opacity: 1;
  }

  /* Grayscaled avatar */

  .avatar {
    clip-path: polygon(0% 100%, 0 9%, 9% 0, 100% 0, 100% 91%, 91% 100%);
    border-radius: 4px;
    overflow: hidden;
  }

  .avatar img {
    pointer-events: none;
  }

  .avatar img.streamIcon {
    border-radius: 4px;
    cursor: hand;
    filter: grayscale(100%) brightness(0.7);
    height: 70px;
    object-fit: fill;
    width: 70px;
  }

  .avatar svg {
    display: none;
  }

  .avatar *[src=""] {
    display: none;
  }

  .avatar *[src=""] + svg {
    display: block;
  }

  /* Color avatar */
  .avatar.active img.streamIcon,
  .avatar.dummy img.streamIcon {
    filter: none;
  }

  .avatar .gameIcon.small {
    position: absolute;
    right: 0px;
    bottom: 0px;
  }

  .avatar .gameIcon.hidden {
    display: none;
  }

  .slide-in-start {
    transition:
      transform 0.15s ease-out,
      box-shadow  0.15s ease-out;
    width: 54.44px;
    height: 70px;
    position: absolute;
    left: 0px;
    bottom: 0px;
    transform: translateX(-55.44px);
    box-shadow: 0px 0px 15.5556px transparent;
  }

  .gameIcon.slide-in-start.long-hovered {
    transform: translateX(0px);
    box-shadow: 0px 0px 15.5556px rgba(0, 0, 0, 0.5);
  }

  .gameIcon.small {
    transition: width 0.15s, height 0.15s;
    width: 30px;
    height: 40px;
    position: absolute;
    left: 0px;
    bottom: 0px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
  }

  .gameIcon.small.long-hovered {
    transition:
      width 0.15s,
      height 0.15s;
    width: 54.44px;
    height: 70px;
  }

  #stream-icon_details{
    width: 148px;
    height: 70px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin-left: 8px;
  }

  #stream-icon_details.hidden {
    display: none;
  }

  #stream-icon_name, #stream-icon_title, #stream-icon_game-title {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    font-size: 12px;
  }

  #stream-icon_name {
    font-size: 14px;
    font-weight: bold;
    color: var(--base-font-color);
  }

  #stream-icon_title {
    -webkit-line-clamp: 2;
    flex: none;
    font-size: 12px;
    font-weight: normal;
    color: var(--secondary-font-color);
  }

  #stream-icon_game-title {
    font-size: 12px;
    font-weight: normal;
    color: var(--base-font-color);
  }

  @media (prefers-color-scheme: dark) {
    :host {
        --default-avatar-color-1: var(--palette-gx_no_32);
        --default-avatar-color-2: var(--palette-gx_no_59);
        --default-avatar-color-3: var(--palette-gx_no_77);
        --default-avatar-color-4: var(--palette-gx_no_20);
    }
  }

  @media (prefers-color-scheme: light) {
    :host {
        --default-avatar-color-1: var(--palette-gx_no_80);
        --default-avatar-color-2: var(--palette-gx_no_40);
        --default-avatar-color-3: var(--palette-gx_no_24);
        --default-avatar-color-4: var(--palette-gx_no_90);
    }
  }


</style>

<!-- if no src then display svg -->

<a class="avatar" href="" target="_blank" id='stream-icon_link' tabindex="-1">
  <img src="" class="streamIcon" id='stream-icon_image'>

  <svg width="70" height="70" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path fill="var(--default-avatar-color-1)" d="M0 8l8-8h58a4 4 0 014 4v58l-8 8H4a4 4 0 01-4-4V8z" />
    <rect fill="var(--default-avatar-color-2)" x="16.95" y="16.95" width="36.1" height="36.1" rx="5.32" />
    <path fill="var(--default-avatar-color-3)" d="M46.4 19.8c0 .532-5.111.95-11.4.95-6.289 0-11.4-.418-11.4-.95s5.111-.95 11.4-.95c6.289 0 11.4.418 11.4.95z" />
    <path fill="var(--default-avatar-color-1)" d="M45.586 49.838H24.414c-3.897 0-7.057-3.24-7.057-7.238v3.619c0 3.998 3.16 7.238 7.057 7.238h21.172c3.897 0 7.057-3.24 7.057-7.238V42.6c0 3.997-3.16 7.238-7.057 7.238z"/>
    <path fill="var(--default-avatar-color-1)" fill-rule="evenodd" clip-rule="evenodd" d="M23.6 16h22.8a7.6 7.6 0 017.6 7.6v22.8a7.6 7.6 0 01-7.6 7.6H23.6a7.6 7.6 0 01-7.6-7.6V23.6a7.6 7.6 0 017.6-7.6zm28.975 7.6a6.194 6.194 0 00-6.175-6.175H23.6a6.194 6.194 0 00-6.175 6.175v22.8a6.194 6.194 0 006.175 6.175h22.8a6.194 6.194 0 006.175-6.175V23.6z"/>
    <path stroke="var(--default-avatar-color-1)" d="M31.2 41.696a6.498 6.498 0 007.6 0" stroke-width="2" stroke-linecap="round"/>
    <path fill="var(--default-avatar-color-1)" fill-rule="evenodd" clip-rule="evenodd" d="M22.46 37.85a1.14 1.14 0 01-1.14-1.14v-7.22a1.14 1.14 0 112.28 0v7.22a1.14 1.14 0 01-1.14 1.14zm25.08 0a1.14 1.14 0 01-1.14-1.14v-7.22a1.14 1.14 0 112.28 0v7.22a1.14 1.14 0 01-1.14 1.14z" />
  </svg>

  <img src="" class="gameIcon" id='stream-icon_game-image'>

  <svg class="gameIcon default" viewbox="0 0 54 70" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g>
      <rect fill="var(--default-avatar-color-2)" width="54.4444" height="70" />
      <circle fill="var(--default-avatar-color-4)" cx="27.2222" cy="27.2222" r="13.6111" />
      <path stroke="var(--default-avatar-color-2" d="M25.2778 31.1111C23.3333 31.1111 23.3333 33.5417 21.3889 33.5417C19.4444 33.5417 18.9583 32.0833 18.9583 28.1944C18.9583 25.2778 20.4167 20.9028 22.3611 20.9028H23.3333C24.3056 20.9028 24.5048 21.875 25.2778 21.875H29.1667C30.1389 21.875 30.1389 20.9028 31.1111 20.9028L32.0833 20.9028C34.0278 20.9028 35.4861 25.2778 35.4861 28.1944C35.4861 32.0833 35 33.5417 33.0556 33.5417C31.1111 33.5417 31.1111 31.1111 29.1667 31.1111H25.2778Z" stroke-width="1.45833" stroke-linejoin="round"/>
      <circle fill="var(--default-avatar-color-2)" cx="23.0903" cy="27.4653" r="1.21528" />
      <circle fill="var(--default-avatar-color-2)" cx="31.3542" cy="27.4653" r="1.21528" />
      <rect x="13.6111" y="48.6111" width="27.2222" height="3.88889" rx="1.94444" fill="var(--default-avatar-color-4)" />
      <rect x="17.5" y="56.3889" width="19.4444" height="3.88889" rx="1.94444" fill="var(--default-avatar-color-4)" />
    </g>
  </svg>
  <svg width="12" height="10" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"  viewBox="0 0 12 10" class="onlineIcon">
    <defs>
      <circle id="b" cx="5" cy="5" r="3"/>
      <filter x="-75%" y="-75%" width="250%" height="250%" filterUnits="objectBoundingBox" id="a">
        <feOffset in="SourceAlpha" result="shadowOffsetOuter1"/>
        <feGaussianBlur stdDeviation="1.5" in="shadowOffsetOuter1" result="shadowBlurOuter1"/>
        <feColorMatrix values="0 0 0 0 0.980392157 0 0 0 0 0.117647059 0 0 0 0 0.305882353 0 0 0 1 0" in="shadowBlurOuter1"/>
      </filter>
    </defs>
    <g fill="none" fill-rule="evenodd">
      <path d="M5 0h7v10H5A5 5 0 1 1 5 0z" fill="#06030D"/>
      <use fill="#000" filter="url(#a)" xlink:href="#b"/>
      <use fill="var(--opera-primary-color)" xlink:href="#b"/>
    </g>
  </svg>
</a>


<div id="stream-icon_details">
  <div id="stream-icon_name"></div>
  <div id="stream-icon_title"></div>
  <div id="stream-icon_game-title"></div>
</div>
