
<style>
  ::-webkit-scrollbar {
    display: none;
  }

  :host {
    display: block;
  }

  [hidden] {
    display: none
  }

  #stream-list_list {
    display: flex;
    flex-wrap: wrap;
  }

  /* Stream info */
  #stream-details {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 70px;
    margin: 0 calc(var(--small-margin) * 2) calc(var(--small-margin) * 2);
    transition: height 0.15s;
  }

  #stream-details.collapsed {
    height: 0px;
  }

  #info {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
  }

  .game-title, .stream-title ,.viewers-count {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    font-size: 12px;
  }

  #stream-details > .stream-info  {
    height: 100%;
    display: flex;
    margin-left: var(--small-margin)
  }

  .game-title {
    font-weight: 700;
    color: var(--main-color);
  }

  .stream-title {
    color: var(--base-font-color);
    -webkit-line-clamp: 2;
    font-weight: 400;
    flex: none;
  }

  .viewers-count {
    color: var(--secondary-font-color);
    font-weight: 400;
  }
</style>

<div id="stream-list_list">
